.header {
    width: 100%;
    height: 70px;
    background: var(--primary-bgColor);
    position: fixed;
    z-index: 100;
}

.topbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    color: white;
    font-family: 'Raleway' !important;
    font-weight: 800;
    /* line-height: 16.4px; */
    font-size: 20px;
    letter-spacing: -2.3%;
    text-align: center;
    z-index: 100;
}

.headerTitle {
    font-size: 29px;
    font-weight: 800;
    color: white;
}

.bgTransparent {
    background-color: rgba(1, 0, 0, 0.1)
}

.bgScrolled {
    background: rgba(200, 200, 200, 0.7);
    color: var(--primary-bgColor);
}

.scrolledColor {
    color: var(--primary-bgColor) !important;
}

.topbar img {
    height: 15px;
    object-fit: contain;
}

.socialIcon {
    display: flex;
    color: white;
}

.socialIcon i {
    padding: 0 7.5px;
}